    <div id="page_content">
        <div id="page_content_inner">
             <div class="md-card">
			     <div class="md-card-content">
			         <div class="uk-grid" data-uk-grid-margin>
			             <div class="uk-width-medium-1-1">    
			             	 <kendo-grid options="puserGrid"></kendo-grid>                     	
			                <!-- <div id="orgGrid"></div> -->
			             </div>                  
			         </div>               
			     </div>
			 </div> 
        </div>
    </div>
	<footer id="footer">
	    <span style="display:block;  text-align:right;">&copy; 2015-2016 <a href="www.staus.mn/sgt">Smart Green Technology LLC</a>, All rights reserved.</span>
	</footer>
	
	<div class="uk-modal" id="modal_update">
          <div class="uk-modal-dialog" data-uk-grid-margin>
              <button type="button" id="closemodal" class="uk-modal-close uk-close uk-close-alt"></button>
              <h3 class="heading_a">Бүлэг </h3>  
 			  	<form name="form_au_dir" id="form_au_dir"  data-ng-submit="submitForm()"> 	
 			  		<input type="hidden" id="{{section.id}}" class="menu" ng-model="id" value="{{id}}"/>	
 			  		<hr style="margin-bottom:20px;">
 			  		<div class="uk-form-row">
  			     	 	<div class="uk-input-group">
		                	<span class="uk-input-group-addon">
		                    	<i class="md-list-addon-icon md-36 material-icons">&#xE242;</i>
		                    </span>
		                    <div class="parsley-row uk-form-row">
			                	<label for="workformname">Төрөл</label>
                                <input type="number" config="selectize_a_config" options="selectize_a_data.options" ng-model="formdata.ftype" name="selectize_a" selectize />
		                    </div>
		                 </div>
  			     	</div>	
  			     	<div class="uk-form-row">
  			     	 	<div class="uk-input-group">
		                	<span class="uk-input-group-addon">
		                    	<i class="md-list-addon-icon md-36 material-icons">&#xE866;</i>
		                    </span>
		                    <div class="parsley-row uk-form-row">
			                	<label for="workformname">Бүлгийн нэр</label>
                                <textarea cols="30" rows="4" class="md-input" ng-model="formdata.name"  md-input textarea-autosize></textarea>
		                    </div>
		                 </div>
  			     	</div>
  			     	
  			     	<div class="uk-form-row">
  			     	 	<div class="uk-input-group">
		                	<span class="uk-input-group-addon">
		                    	<i class="md-list-addon-icon md-36 material-icons">&#xE242;</i>
		                    </span>
		                    <div class="parsley-row uk-form-row">
			                	<label for="workformname">Дараалал</label>
                                <input class="md-input" type="number" id="orderid" name="orderid" ng-model="formdata.orderid" md-input 
                                data-parsley-required data-parsley-error-message="Дарааллаа оруулна уу"/>
		                    </div>
		                 </div>
  			     	</div>	
 			  		        	  
					<hr>
	                <div class="uk-modal-footer uk-text-right">
	                	 <button type="submit" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Хадгалах</button>
                         <button type="button" class="md-btn md-btn-flat uk-modal-close">Хаах</button>                         
                     </div>  
				        
                   
                 </form> 
              </div>
              
          </div>
	
	<script type="text/x-kendo-template" id="addworklist">
         <div id="details-container" style="text-align:left;">
           <button class="k-button k-button-icontext" ng-click="add()"> <span class='k-icon k-add'></span>Шинээр өгөгдөл нэмэх</button>	
		   <a class="k-button k-button-icontext k-grid-excel" href="\#\"><span class="k-icon k-i-excel"></span>MS Excel-т экспортлох</a>
		   <a class="k-button k-button-icontext k-grid-pdf" href="\#\"><span class="k-icon k-i-pdf"></span>PDF-т экспортлох</a>
         </div>
		
     </script>
     <script type="text/x-kendo-template" id="export">
         <div id="details-container" style="text-align:left;">
		   <a class="k-button k-button-icontext k-grid-excel" href="\#\"><span class="k-icon k-i-excel"></span>MS Excel-т экспортлох</a>
		   <a class="k-button k-button-icontext k-grid-pdf" href="\#\"><span class="k-icon k-i-pdf"></span>PDF-т экспортлох</a>
         </div>
		
     </script>
	
    <script type="text/x-kendo-template" id="update">
          <input type='checkbox' class='switchery switchery-small' ng-change='change(#:id#)' ui-switch ng-model='confirmed[#:id#]'  ng-checked="isChecked(dataItem)" color='\#ffb300'  id='#:id#' />
          <label for='#:id#' class='inline-label'>Label</label>
    </script>
 	<script type="text/x-kendo-template" id="add">
         <div id="details-container" style="text-align:left;">
           <button class="k-button k-button-icontext" ng-click="add()"> <span class='k-icon k-add'></span> Шинээр өгөгдөл нэмэх</button>
         </div>
     </script>
     <script type="text/x-kendo-template" id="extend">
         <div id="details-container" style="float:left;">
           <button class="md-btn md-btn-small md-btn-primary" ng-click='edit(#:id#)'> </span>засах</button>
         </div>
		<div id="details-container1" style="float:left; margin-left: 20px;">
           <button class="md-btn md-btn-small md-btn-danger" ng-click='deleteTry(#:id#)'> </span>устгах</button>
         </div>
     </script>
      <script type="text/x-kendo-template" id="extendu">
         <div id="details-container" style="float:left;">
           <button class="md-btn md-btn-small md-btn-primary" ng-click='edit(#:id#)'> </span>засах</button>
         </div>
		
     </script>
      <script type="text/x-kendo-template" id="extendd">
        
		<div id="details-container1" style="float:left; margin-left: 20px;">
           <button class="md-btn md-btn-small md-btn-danger" ng-click='deleteTry(#:id#)'> </span>устгах</button>
         </div>
     </script>
   
<style>
	.k-textbox, .k-numerictextbox{
		width:95%;
	}
</style>     
     

    
