    <div id="page_content">
        <div id="page_content_inner">
             <div class="md-card">
			     <div class="md-card-content">
			         <div class="uk-grid" data-uk-grid-margin>
			             <div class="uk-width-medium-1-1 user ">    
			             	 <kendo-grid options="puserGrid"></kendo-grid>       
			             </div> 			                       
			         </div>               
			     </div>
			 </div> 
        </div>
    </div>
	<footer id="footer">
	    <span style="display:block;  text-align:right;">&copy; 2015-2018 <a href="www.staus.mn/sgt">Smart Green Technology LLC</a>, All rights reserved.</span>
	</footer>
	</style>
	<script type="text/x-kendo-template" id="step">			
		#if (stepid==1) {#
        	Хувиарлаагүй
		# }
		
		else if (stepid==2){# 
			Хувиарласан
		#} 
		
		else if (stepid==3 || stepid==5 || stepid==6){# 
			Баталсан
		#} 

		else if (stepid==4 || aper>0){# 
			Баталсан
		#}

		else{# 
			Баталсан
		#}#	
	</script>
	<script type="text/x-kendo-template" id="update2">			
		#if (stepid==2) {#
        	<button  class="k-button k-button-icontext" ng-click='update(dataItem)'><span class="k-icon k-i-search"></span>Хянах</button>
		# }
		
		else if (stepid==3 || stepid==4 || stepid==5 || stepid==6){# 
			<button class="k-button k-button-icontext" ng-click='update(dataItem)'><span class="k-icon k-i-hbars"></span>Харах</button>
		#} 
		
		else if (stepid==1){# 
			<button disabled class="k-button k-button-icontext" ng-click='update(dataItem)'><span class="k-icon k-i-search"></span>Хянах</button>
		#} #	
	</script>

	<script type="text/x-kendo-template" id="update">
		#if (stepid==3 || stepid==2 || stepid==6 || stepid==5){# 
			<button class="k-button k-button-icontext" ng-click='update(dataItem)'><span class="k-icon k-i-hbars"></span>Харах</button>
		#}
		else if (stepid==1 || stepid==4){# 
			<button class="k-button k-button-icontext" ng-click='update(dataItem)'><span class="k-icon k-edit"></span>Засах</button>
		#} #		
	</script>
	<script type="text/x-kendo-template" id="add">
         <div id="details-container" style="text-align:left;">
           <button class="k-button k-button-icontext" ng-click='res()'  data-uk-modal="{target:'\\#modal_update'}"> <span class='k-icon k-add'></span> Байгууллагын жагсаалт үүсгэх</button>
         </div>
    </script>
    <div class="uk-modal" id="editAuditNamePopup">
         <div class="uk-modal-dialog">
             <div class="uk-modal-header">
                 <h3 class="uk-modal-title">Аудитын нэр засах</h3>
             </div>
             <form ng-submit="submitAuditName()">
				<div class="uk-form-width-large" style="width: 100%;">
					<div clSass="uk-form-row">
						<label>Аудитын нэр</label> <input type="text"
							class="md-input " ng-model="auditData.auditname"
							md-input required />
					</div>
					
				</div>
				<center>
					<button
						class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light"
						type="submit" style="margin-top: 15px;">Хадгалах</button>
				</center>
	
			</form>
         </div>
     </div>