    <div id="page_content">
        <div id="page_content_inner">
             <div class="md-card">
			     <div class="md-card-content">
			         <div class="uk-grid" data-uk-grid-margin>
			             <div class="uk-width-medium-1-1">    
			             	 <kendo-grid options="pmenuGrid"></kendo-grid>                     	
			                <!-- <div id="orgGrid"></div> -->
			             </div>                  
			         </div>               
			     </div>
			 </div> 
        </div>
    </div>
	<footer id="footer">
	    <span style="display:block;  text-align:right;">&copy; 2015-2016 <a href="www.staus.mn/sgt">Smart Green Technology LLC</a>, All rights reserved.</span>
	</footer>
	
		<div class="uk-modal" id="modal_update">
          <div class="uk-modal-dialog uk-modal-dialog-large" data-uk-grid-margin>
              <button type="button" id="closemodal" class="uk-modal-close uk-close uk-close-alt"></button>
              <h3 class="heading_a">Хувийн аудитын байгууллага</h3>  
 			  	<form name="form_crit_dir" id="form_crit_dir"  data-ng-submit="submitForm($event)"> 	
 			  		<input type="hidden" id="{{section.id}}" class="menu" ng-model="id" value="{{id}}"/>	
 			  		<hr style="margin-bottom:20px;">
 			  		<div class="uk-margin-large-bottom">
 			  			<div class="uk-grid" data-uk-grid-margin>
 			  				<div class="uk-width-medium-1-1 uk-margin-medium-top">
				            	<div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin>
	                                <div class="uk-width-medium-2-3">
				                    	<div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">account_balance</i>
				                            </span>
				                            <div class="parsley-row uk-form-row">
					                        	<label for="departmentname">Байгууллагын нэр</label>
		                                        <input class="md-input" type="text" id="departmentname" name="departmentname" ng-model="formdata.departmentname" md-input 
		                                        	data-parsley-required data-parsley-error-message="Нэрээ оруулна уу"/>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="uk-width-medium-1-3">
				                    	<div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">account_balance</i>
				                            </span>
				                            <div class="parsley-row uk-form-row">
					                        	<label for="shortname">Товчилсон нэр</label>
		                                        <input class="md-input" type="text" id="shortname" name="shortname" ng-model="formdata.shortname" md-input 
		                                        	data-parsley-required data-parsley-error-message="Нэрээ оруулна уу"/>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				                <div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin>
	                                <div class="uk-width-medium-1-3">
				                    	<div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">domain</i>
				                            </span>
				                            <div class="parsley-row uk-form-row">
					                        	<label for="reg">УБ-н дугаар</label>
		                                        <input class="md-input" type="text" id="reg" name="reg" ng-model="formdata.reg" md-input/>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="uk-width-medium-1-3">
				                    	<div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">domain</i>
				                            </span>
				                            <div class="parsley-row uk-form-row">
					                        	<label for="licnum">ТЗ-н дугаар</label>
		                                        <input class="md-input" type="text" id="licnum" name="licnum" ng-model="formdata.licnum" md-input 
		                                        />
				                            </div>
				                        </div>
				                    </div>
				                    <div class="uk-width-medium-1-3">
				                        <div class="uk-input-group">
		                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
		                                    <label for="uk_dp_1">ТЗ-н хүчинтэй хугацаа</label>
		                                    <input class="md-input" type="text" id="licexpiredate" data-uk-datepicker="{format:'DD/MM/YYYY'}" md-input ng-model="formdata.licexpiredate">
		                                </div>
				                    </div>
				            	</div>
				            	<div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin>
	                                <div class="uk-width-medium-1-2">
				                    	<div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">mail_outline</i>
				                            </span>
				                            <div class="parsley-row uk-form-row">
					                        	<label for="email">Цахим шуудан</label>
		                                        <input class="md-input" type="text" id="email" name="email" ng-model="formdata.email" md-input/>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="uk-width-medium-1-2">
				                    	<div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">web</i>
				                            </span>
				                            <div class="parsley-row uk-form-row">
					                        	<label for="web">Веб хуудас</label>
		                                        <input class="md-input" type="text" id="web" name="web" ng-model="formdata.web" md-input />
				                            </div>
				                        </div>
				                    </div>
				            	</div>
				            	<div class="uk-grid uk-margin-medium-bottom" data-uk-grid-margin>
	                                <div class="uk-width-medium-2-3">
				                    	<div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">location_city</i>
				                            </span>
				                            <div class="parsley-row uk-form-row">
					                        	<label for="address">Хаяг</label>
		                                        <input class="md-input" type="text" id="address" name="address" ng-model="formdata.address" md-input/>
				                            </div>
				                        </div>
				                    </div>
				                    <div class="uk-width-medium-1-3">
				                    	<div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">phone</i>
				                            </span>
				                            <div class="parsley-row uk-form-row">
					                        	<label for="phone">Утас</label>
		                                        <input class="md-input" type="text" id="phone" name="phone" ng-model="formdata.phone" md-input />
				                            </div>
				                        </div>
				                    </div>
				            	</div>
				            	<div class="uk-grid" data-uk-grid-margin>
				            		<div class="uk-width-large-1-3">
				            		</div>
	                                <div class="uk-width-large-2-3">
	                                	<div class="uk-grid uk-margin-small-bottom" data-uk-grid-margin>
	                                	<div class="uk-width-large-1-2">
			                                 	<div class="uk-input-group">
						                        	<span class="uk-input-group-addon">
						                            	<i class="md-list-addon-icon material-icons">&#xE7F9;</i>
						                            </span>
						                           <div class="parsley-row uk-form-row">
											        	<label class="slabel"> Идэвхтэй эсэх</label>
											            <selectize ng-change="fch(formdata.isactive)" type="text" ng-model="formdata.isactive" class="md-input" placeholder="Сонгоно уу..." id="isactive"
											            	position="bottom" config="selectize_isfile_config" options="selectize_isfile_options" name="isactive"></selectize>
											        </div>
						                        </div>
			                                 </div>
		                                	
			                                 <div class="uk-width-large-1-2">
			                                 	<div class="uk-input-group">
						                        	<span class="uk-input-group-addon">
						                            	<i class="md-list-addon-icon material-icons">&#xE7F9;</i>
						                            </span>
						                           <div class="parsley-row uk-form-row">
											        	<label class="slabel"> m эсэх</label>
											            <selectize ng-change="fch(formdata.isactive)" type="text" ng-model="formdata.ismultiple" class="md-input" placeholder="Сонгоно уу..." id="isactive"
											            	position="bottom" config="selectize_isfile_config" options="selectize_isfile_options" name="isactive"></selectize>
											        </div>
						                        </div>
			                                 </div>
		                                </div>		                                            
	                                </div>
				            	</div>
				            </div>
		                </div>	  
			        </div>        	  
					<hr>
	                <div class="uk-modal-footer uk-text-right">
	                	 <button type="submit" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Хадгалах</button>
                         <button type="button" class="md-btn md-btn-flat uk-modal-close">Хаах</button>                         
                     </div>  
				        
                   
                 </form> 
              </div>
              
          </div>
		<div class="uk-modal" id="modal_position">
          <div class="uk-modal-dialog uk-modal-dialog-medium" data-uk-grid-margin>
              <button type="button" id="closemodal" class="uk-modal-close uk-close uk-close-alt"></button>
              <h3 class="heading_a">Албан тушаал</h3>  
 			  	<form name="form_position" id="form_position"  data-ng-submit="submitForm($event)"> 	
 			  		<input type="hidden" id="{{section.id}}" class="menu" ng-model="id" value="{{id}}"/>	
 			  		<hr style="margin-bottom:20px;">
 			  		<div class="uk-margin-large-bottom">
 			  			<div class="uk-grid" data-uk-grid-margin>
 			  				<div class="uk-width-medium-1-1 uk-margin-medium-top">
				            	<div class="uk-grid " data-uk-grid-margin>
	                                <div class="uk-width-medium-1-1">
				                    	<div class="uk-input-group">
				                        	<span class="uk-input-group-addon">
				                            	<i class="md-list-addon-icon material-icons">account_balance</i>
				                            </span>
				                            <div class="parsley-row uk-form-row">
					                        	<label for="departmentname">Албан тушаалын нэр</label>
		                                        <input class="md-input" type="text" id="positionname" name="positionname" ng-model="formdata.positionname" md-input 
		                                        	data-parsley-required data-parsley-error-message="Нэрээ оруулна уу"/>
				                            </div>
				                        </div>
				                    </div>
				                </div>
				                <div class="uk-grid" data-uk-grid-margin>
				            		<div class="uk-width-large-1-1">
	                                	<div class="uk-grid uk-margin-small-bottom" data-uk-grid-margin>
	                                		<div class="uk-width-medium-1-2 uk-margin-small-top">
						                    	<div class="uk-input-group uk-margin-small-top">
						                        	<span class="uk-input-group-addon">
						                            	<i class="md-list-addon-icon material-icons">&#xE242;</i>
						                            </span>
						                            <div class="parsley-row uk-form-row uk-margin-small-top">
							                        	<label for="shortname">Дараалал</label>
				                                        <input class="md-input" type="number" id="orderid" name="orderid" ng-model="formdata.orderid" md-input 
				                                        	data-parsley-required data-parsley-error-message="Дараалалаа оруулна уу"/>
						                            </div>
						                        </div>
						                    </div>
		                                	<div class="uk-width-large-1-2">
			                                	<div class="uk-input-group">
						                        	<span class="uk-input-group-addon">
						                            	<i class="md-list-addon-icon material-icons">&#xE7F9;</i>
						                            </span>
						                            <div class="parsley-row uk-form-row one">
											        	<label class="slabel"> Идэвхтэй эсэх</label>
											            <selectize ng-change="fch(formdata.isactive)" type="text" ng-model="formdata.isactive" class="md-input" placeholder="Сонгоно уу..." id="isactive"
											            	position="bottom" config="selectize_isfile_config" options="selectize_isfile_options" name="isactive"></selectize>
											        </div>
						                        </div>
			                                 </div>
		                                </div>		                                            
	                                </div>
				            	</div>
				            </div>
		                </div>	  
			        </div>        	  
					<hr>
	                <div class="uk-modal-footer uk-text-right">
	                	 <button type="submit" class="md-btn md-btn-primary md-btn-wave-light waves-effect waves-button waves-light">Хадгалах</button>
                         <button type="button" class="md-btn md-btn-flat uk-modal-close">Хаах</button>                         
                     </div>  
				        
                   
                 </form> 
              </div>
          </div>
	<script type="text/x-kendo-template" id="addPosition">
         <div id="details-container" style="text-align:left;">
           <button class="k-button k-button-icontext" ng-click='org()'> <span class='k-icon k-add'></span>Шинээр өгөгдөл нэмэх </button>	  
		   <a class="k-button k-button-icontext k-grid-excel" href="\#\"><span class="k-icon k-i-excel"></span>MS Excel-т экспортлох</a>
		   <a class="k-button k-button-icontext k-grid-pdf" href="\#\"><span class="k-icon k-i-pdf"></span>PDF-т экспортлох</a>
         </div>
		
     </script>
	<script type="text/x-kendo-template" id="addorg">
         <div id="details-container" style="text-align:left;">
           <button class="k-button k-button-icontext" ng-click='org()'> <span class='k-icon k-add'></span>Шинээр өгөгдөл нэмэх </button>	  
		   <a class="k-button k-button-icontext k-grid-excel" href="\#\"><span class="k-icon k-i-excel"></span>MS Excel-т экспортлох</a>
		   <a class="k-button k-button-icontext k-grid-pdf" href="\#\"><span class="k-icon k-i-pdf"></span>PDF-т экспортлох</a>
         </div>
		
     </script>
	<script type="text/x-kendo-template" id="rep">
         <div id="details-container" style="text-align:center;">
           <button class="k-button k-button-icontext k-grid-edit" ng-click='update(#:id#)' "><span class="k-icon k-edit"></span>Засах</button>
         </div>
     </script>
 	<script type="text/x-kendo-template" id="add">
         <div id="details-container" style="text-align:left;">
           <button class="k-button k-button-icontext" ng-click='org()'> <span class='k-icon k-add'></span> Шинээр өгөгдөл нэмэх</button>
         </div>
     </script>
     <script type="text/x-kendo-template" id="extend">
         <div id="details-container" style="float:left;">
           <button class="md-btn md-btn-small md-btn-primary" ng-click='edit(#:id#)'> </span>засах</button>
         </div>
		<div id="details-container1" style="float:left; margin-left: 20px;">
           <button class="md-btn md-btn-small md-btn-danger" ng-click='deleteO(#:id#)'> </span>устгах</button>
         </div>
     </script>
      <script type="text/x-kendo-template" id="extendu">
         <div id="details-container" style="float:left;">
           <button class="md-btn md-btn-small md-btn-primary" ng-click='edit(#:id#)'> </span>засах</button>
         </div>
		
     </script>
      <script type="text/x-kendo-template" id="extendd">
         <div id="details-container1" style="float:left; margin-left: 20px;">
           <button class="md-btn md-btn-small md-btn-danger" ng-click='deleteO(#:id#)'> </span>устгах</button>
         </div>
     </script>
     <script type="text/x-kendo-template" id="export">
         <div id="details-container" style="text-align:left;">
		   <a class="k-button k-button-icontext k-grid-excel" href="\#\"><span class="k-icon k-i-excel"></span>MS Excel-т экспортлох</a>
		   <a class="k-button k-button-icontext k-grid-pdf" href="\#\"><span class="k-icon k-i-pdf"></span>PDF-т экспортлох</a>
         </div>
     </script>
 <style>
	.k-textbox, .k-numerictextbox{
		width:95%;
	}
	.slabel{
	    color: #727272;
   		font-size: 12px;
   		margin: 0 !important;
	}
	.one .selectize-input {
    border-width: 0 0 1px;
    padding: 0px !important; 
}
</style>     
     

    
