    <div id="page_content">
        <div id="page_content_inner">
        	  <div class="md-card">
			     <div class="md-card-content">  
			     	<div class="uk-grid" data-uk-grid-margin>   
			     		<div class="uk-width-medium-7-10">
                	   		<h3 style="margin-top:7px;">
                	   			<span>Компаний нэр</span>: {{mainobj.orgname}}, 
                	   			<span>Тайлангийн огноо</span>: {{mainobj.audityear}}, 
                	   			<!-- <span>Регистр</span>: {{mainobj.regnum}}, -->
                	   			<span>Төрөл</span>: <span ng-if="mainobj.orgtype==1">ТШЗ</span><span ng-if="mainobj.orgtype==2">ААН</span>
               	   			</h3>
                	    </div> 
                	    <div class="uk-width-medium-3-10 uk-text-right">
                	    	<!-- <a class="md-btn md-btn-primary md-btn-wave-light" data-uk-modal="{target:'#modal_header_footer_form'}" href="javascript:void(0)">Маягт</a> -->
                	    	<a class="md-btn md-btn-warning md-btn-wave-light"  href="/api/files/3/{{mainobj.orgtype}}" target='_self'>Загвар</a>
                       		<a class="md-btn md-btn-primary md-btn-wave-light" ng-click="modalExcel()"  href="javascript:void(0)">Excel</a>
                        </div> 
                    </div>                  
			     </div>
			 </div> 
             <div class="md-card" ng-show="!iscompany">
			     <div class="md-card-content">
			         <div class="uk-grid" data-uk-grid-margin>
			             <div class="uk-width-medium-1-1">   
			             	 <kendo-grid options="mainGridOptions">
					          <div k-detail-template>                
					            <div class="dgrid" kendo-grid k-options="ordersGridOptions(dataItem)">
					            </div>               
					          </div>
					         </kendo-grid> 
			             </div> 			                       
			         </div>               
			     </div>
			 </div> 
			 <h2>Нотлох баримт</h2>
			 <!-- <div class="md-card">
			     <div class="md-card-content">  
			     	<div class="uk-grid" data-uk-grid-margin>   
			     		<div class="uk-width-medium-7-10">
                	   		<h3 style="margin-top:7px;">
                	   			<span>Нотлох баримт</span>
               	   			</h3>
                	    </div> 
                    </div>                  
			     </div>
			 </div> -->
			 <div class="md-card">
			     <div class="md-card-content">
			         <div class="uk-grid" data-uk-grid-margin>
			              <div class="uk-width-medium-1-1 notloh">    
			             	 <kendo-grid class="notloh" options="fileGrid"></kendo-grid>     
			             </div> 	                       
			         </div>               
			     </div>
			 </div>
			 <div class="uk-modal" id="modal_notloh_file">
			    <div class="uk-modal-dialog uk-modal-dialog-large" style="top:20px;">
			        <button type="button" class="uk-modal-close uk-close"></button>
			        <div class="md-card-content" ng-show="xlsx">
			            <div id="spreadSheetFileView" style="width:100%;height:800px"></div>
			        </div>
			        <div class="md-card-content" ng-show="pdf">
			            <p>
				        	 <embed ng-src="{{pdfurl}}" width="100%" height="800" type='application/pdf'>
				        </p>  
			        </div>
			        <div class="md-card-content" ng-show="img">
			            <p>
				        	<img ng-src="{{purl}}" width="100%" height="100%"/>
				        </p>  
			        </div>
			    </div>
			</div>
        </div>
    </div>
    
    <div class="uk-modal" id="modal_pdf">
	    <div class="uk-modal-dialog uk-modal-dialog-large">
	        <button type="button" class="uk-modal-close uk-close"></button>
	        <div class="uk-text-right">
				  <button id="prev">Өмнөх</button>
				  &nbsp; &nbsp;
				  <span>Хуудас: <span id="page_num"></span> / <span id="page_count"></span></span>
				  &nbsp; &nbsp;
				  <button id="next">Дараах</button>
			</div>
	        <p>
	        	<canvas style="width:100%; height:780px;" id="the-canvas"></canvas>
	        </p>        
	    </div>
	</div>
    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    <div class="uk-modal" id="modal_excel_file">
	    <div class="uk-modal-dialog uk-modal-dialog-large" style="top:20px;">
	        <button type="button" class="uk-modal-close uk-close"></button>
	        <div class="md-card-content" ng-show="xlsx">
	            <div id="spreadSheetZagwarView" style="width:100%;height:780px"></div>
	        </div>
	    </div>
	</div>
	<!-- <a ng-if="picture(dataItem.filename)" href='/api/files/#:appid#/#:id#' data-uk-lightbox="{group:'gallery'}" class="md-btn md-btn-small md-btn-primary md-btn-wave  md-btn-icon"> <i class="uk-icon-search-plus"></i></a> -->
	<script type="text/x-kendo-template" id="downNotloh">			
		<div class="md-btn-group" style="float:right;">
            <a href='/api/excel/export/nbb/#:appid#/#:id#' data-uk-tooltip="{pos:'bottom'}" title="Татах" class="md-btn md-btn-small md-btn-warning md-btn-wave  md-btn-icon" target='_self' download='{{item.filename}}'><i class="uk-icon-download"></i></a>
            <a data-uk-tooltip="{pos:'bottom'}" title="Харах" href="javascript:void(0)" class="md-btn md-btn-small md-btn-primary md-btn-wave  md-btn-icon" ng-click='viewExcelNotloh(dataItem)'> <i class="uk-icon-search-plus"></i></a>
        </div>
	</script>
    <script type="text/x-kendo-template" id="downtemp">			
		#if (data7=='А-4') {#
			<div class="md-btn-group" style="float:right;">
                <a href="javascript:void(0)" class="md-btn md-btn-small md-btn-danger md-btn-wave" style='line-height:31px !important;' ng-click='selectA4(planid,#:formid#)'>A^4</a>
                <a href="javascript:void(0)" class="md-btn md-btn-small md-btn-primary md-btn-wave" style='line-height:31px !important;' ng-click='exportExcel(dataItem)'>#:data7#</a>
            </div>
		# }
		else if (data7=='В-3-1Т' || data7=='В-3-2Т' || data7=='В-3-3Т' || data7=='В-3-4Т' || data7=='В-3-5Т' || data7=='В-3-6Т' || data7=='В-3-7Т'){# 
			<div class="md-btn-group" style="float:right;">
                <a href="javascript:void(0)" class="md-btn md-btn-small md-btn-warning md-btn-wave" style='line-height:31px !important;' ng-click='selectB31(planid,#:formid#)'>^#:data7#</a>
                <a href="javascript:void(0)" class="md-btn md-btn-small md-btn-primary md-btn-wave" style='line-height:31px !important;' ng-click='exportExcel(dataItem)'>#:data7#</a>
            </div>
		#} 
		else{# 
			<div class="md-btn-group" style="float:right;">
                <a data-uk-tooltip="{pos:'bottom'}" title="Татах" class="md-btn md-btn-small md-btn-warning md-btn-wave  md-btn-icon" target='_self' download='{{item.filename}}' ng-click='exportExcel(dataItem)'><i class="uk-icon-download"></i></a>
                <a data-uk-tooltip="{pos:'bottom'}" title="Харах" href="javascript:void(0)" class="md-btn md-btn-small md-btn-primary md-btn-wave  md-btn-icon" ng-click='viewExcel(dataItem)'> <i class="uk-icon-file-excel-o"></i></a>
            </div>
			<span style="float:right; margin:7px 7px 0 0">#:data7#</span>
		#} #	
	</script>
	<script type="text/x-kendo-template" id="uptemp">		
	
	# if (data5== 1) { #
    	#if(data6==1) { #
    		<a href='javascript:void(0)' ng-click='uploadExcel("+$stateParams.issueId+",#:formid#)' class='md-btn md-btn-facebook md-btn-small md-btn-icon'><i style='margin-top:7px;' class='material-icons'>cloud_upload</i>Хавсрах</a>
    	#}
		else{#
			# if (data10==1) { #
				<a href='javascript:void(0)' ng-click='uploadExcel("+$stateParams.issueId+",#:formid#)' class='md-btn disabled md-btn-small md-btn-icon'><i style='margin-top:7px;' class='material-icons'>cloud_upload</i>Хавсрах</a>
			#}
			else{#
				<a href='javascript:void(0)' ng-click='uploadExcel("+$stateParams.issueId+",#:formid#)' class='md-btn md-btn-gplus md-btn-small md-btn-icon'><i style='margin-top:7px;' class='material-icons'>cloud_upload</i>Хавсрах</a>
			#}#
		#}#
    #}#

		
	</script>
	
	<div class="uk-modal" id="modal_notloh_zuil">
        <div class="uk-modal-dialog">
        	<form name="formUpload" id="form_validation_notloh" class="uk-form-stacked" ng-submit="submitUploadNotlohZuil()">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Нотлох зүйл оруулах</h3>
            </div>
            <hr>
            <div class="uk-grid">
                 <div class="uk-width-1-1">
                 	 <div id="file_upload-drop" class="uk-file-upload">
                         <p class="uk-text">Үйлчлүүлэгчийн загвар</p>
                         <p class="uk-text-muted uk-text-small uk-margin-small-bottom">файл</p>
                         <span class="uk-form-file md-btn" ngf-select ngf-max-size="20MB" ng-model="uploadfile" required name="uploadfile">сонгох</span>
                         <div style="height:15px; margin-top:15px;">
                         	<p class="uk-text-danger uk-text-small uk-margin-small-bottom" ng-show="formUpload.uploadfile.$error.required" style="height:15px;">*файлаа сонгоно уу</p>
                         </div>
                         <div style="height:15px;margin-top:-15px;">
                         	<p class="uk-text-primary uk-text-small uk-margin-small-bottom" style="height:15px;" ng-show="!formUpload.uploadfile.$error.required">файл сонгогдлоо</p>
                         </div>
                         <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                     </div>
                     <div class="file_upload-progressbar uk-progress uk-hidden">
                         <div class="uk-progress-bar" style="width:{{file.progress}}%" ng-bind="file.progress + '%'" class="ng-binding">0%</div>
                     </div>
                 </div>
                 <div class="uk-width-1-1">
                  	 <div class="uk-form-row parsley-row">
                         <textarea id="message" class="md-input" name="message" cols="10" rows="4" required data-parsley-trigger="keyup" data-parsley-minlength="5" data-parsley-validation-threshold="10"  md-input ng-model="description"  data-parsley-maxlength="250"></textarea>
                     </div>
                 </div>
            </div>
            <hr>
            <div class="uk-modal-footer">
            	  <div class="uk-grid">
	                 <div class="uk-width-medium-1-1">  
	                     <div class="uk-form-row uk-text-right">
		                     <button type="submit" class="md-btn  md-btn-wave-light">Илгээх</button> 
	                		 <button type="button" class="md-btn md-btn-primary md-btn-wave-light uk-modal-close">Хаах</button>
                		 </div>
	                 </div>
	            </div> 
            </div>
            </form>
        </div>
    </div> 
    
	<script type="text/x-kendo-template" id="add">
         <div id="details-container" style="text-align:left;">
           <button class="k-button k-button-icontext" ng-click='addnew()'> <span class='k-icon k-i-plus'></span> Холбогдох баримт шинээр оруулах</button>
         </div>
    </script>
  	<script type="text/x-kendo-template" id="template">
       <div class="refreshBtnContainer">
            <button ng-click="toolbarClick()" class=" k-button" title="Refresh"><span class="k-icon k-i-reload"></span></button>
       </div>                
    </script> 

    <div class="uk-modal" id="modal_a_4">
        <div class="uk-modal-dialog">
        	<form name="form" id="form_validation" class="uk-form-stacked">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Үнэ цэнээр материаллаг байдлыг тодорхойлох</h3>
            </div>
            <hr>
            <div class="uk-grid">
                 <div class="uk-width-1-1">
                 	 <table class="uk-table uk-table-striped">
                         <thead>
	                         <tr>
	                             <th>Материаллаг байдлын суурь үзүүлэлт</th>
	                             <th>Санхүүгийн тайлангийн дүнг оруул</th>
	                             <!-- <th>Доод түвшин</th>
	                             <th>Сонгосон түвшин</th>
	                             <th>Дээд түвшин</th> -->
	                         </tr>
                         </thead>
                         <tbody>
	                         <tr ng-repeat="item in a4">
	                             <td>{{item.data1}}</td>
	                             <td>{{item.data2}}</td>
	                             <!-- <td>{{item.data3}}</td>
	                             <td>{{item.data4}}</td>
	                             <td>{{item.data5}}</td> -->
	                         </tr>
                         </tbody>
                     </table>
                 </div>
            </div>
            <div class="uk-grid">
                 <div class="uk-width-medium-1-2">
                     <div class="parsley-row">
                         <input config="selectize_val_config" options="selectize_val_options" ng-model="a4data.dans" required name="val_select" selectize />
                     </div>
                 </div>
                 <div class="uk-width-medium-1-2">
                     <div class="parsley-row">
                         <label class="uk-form-label">Heard us by*</label>
                         <input id="fullname" type="number" name="fullname" required  ng-model="a4data.percent" class="md-input" md-input />
                     </div>
                 </div>
            </div> 
            <hr>
            <div class="uk-modal-footer uk-text-right">
           		<button ng-click="submitA4()" type="submit" ng-show="sendBtn" class="md-btn  md-btn-wave-light">Хадгалах</button> 
                <button type="button" class="md-btn md-btn-primary md-btn-wave-light uk-modal-close">Хаах</button>
            </div>
            </form>
        </div>
    </div> 
     
    <div class="uk-modal" id="modal_excel_upload">
        <div class="uk-modal-dialog">
        	<form name="formUpload">
	            <div class="uk-modal-header">
	                <h3 class="uk-modal-title">Маягт хавсрах</h3>
	            </div>
	            <hr>
	            <div class="uk-grid">
	                 <div class="uk-width-1-1">
	                     <div id="file_upload-drop" class="uk-file-upload">
	                         <p class="uk-text">Excel файл</p>
	                         <p class="uk-text-muted uk-text-small uk-margin-small-bottom">or</p>
	                         <span class="uk-form-file md-btn" ngf-select ngf-max-size="20MB" accept=".xlsx, .xls" ng-model="uploadfile" required="" name="uploadfile">сонгох</span>
	                         <div style="height:15px;">
	                         	<p class="uk-text-muted uk-text-small uk-margin-small-bottom" style="height:15px;" ng-show="formUpload.uploadfile.$error.required">*required</p>
	                         </div>
	                         <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
	                     </div>
	                     <div class="file_upload-progressbar uk-progress uk-hidden">
	                         <div class="uk-progress-bar" style="width:{{file.progress}}%" ng-bind="file.progress + '%'" class="ng-binding">0%</div>
	                     </div>
	                 </div>
	            </div> 
	            <hr>
	            <div class="uk-modal-footer uk-text-right">
	           		<button ng-click="submitUpload()" type="submit" ng-show="sendBtn" class="md-btn  md-btn-wave-light">Илгээх</button> 
	                <button type="button" class="md-btn md-btn-primary md-btn-wave-light uk-modal-close">Хаах</button>
	            </div>
            </form>
        </div>
    </div> 
     
    <div class="uk-modal" id="modal_header_footer_print">
        <div class="uk-modal-dialog">
        	<form name="form">
            <div class="uk-modal-header">
                <h3 class="uk-modal-title">Тайлан татах</h3>
            </div>
            <hr>
            <div class="uk-grid uk-text-center" ng-show="!sendBtn">
                 <div class="uk-width-1-1">
                       <md-preloader stroke-width="4" width="96" height="96"></md-preloader>                      
                 </div>
                 <div class="uk-width-1-1">
                       <span>
                       		Түр хүлээнэ үү!!!
                       </span>                  
                 </div>
                  
            </div> 
            <div class="uk-grid" ng-show="sendBtn">
                 <div class="uk-width-1-1">
                     <div id="file_upload-drop" class="uk-file-upload">
                         <p class="uk-text">Excel файл</p>
                         <p class="uk-text-muted uk-text-small uk-margin-small-bottom">or</p>
                         <span class="uk-form-file md-btn" ng-change="fileChange()" ngf-select ngf-max-size="20MB" accept=".xlsx, .xls" ng-model="file" required="" name="file">сонгох</span>
                        
                        <div style="height:15px; margin-top:15px;">
                         	<p class="uk-text-danger uk-text-small uk-margin-small-bottom" ng-show="form.file.$error.required" style="height:15px;">*файлаа сонгоно уу</p>
                         </div>
                         <div style="height:15px;margin-top:-15px;">
                         	<p class="uk-text-primary uk-text-small uk-margin-small-bottom" style="height:15px;" ng-show="!form.file.$error.required">файл сонгогдлоо</p>
                         </div>
                         <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                     </div>
                     <div class="file_upload-progressbar uk-progress">
                         <div class="uk-progress-bar" style="width:{{file.progress}}%" ng-bind="file.progress + '%'" class="ng-binding">0%</div>
                     </div>
                 </div>
             </div> 
             <h3 class="uk-modal-title" ng-if="errList.additionalSheet.length>0" >Зөрүүтэй хүснэгт</h3>
             <div class="uk-grid" id="acc" ng-if="errList.additionalSheet.length>0">
                <div class="uk-width-1-1">
                	<div class="uk-overflow-container">
                        <table class="uk-table uk-table-condensed">
                            <thead>
                            <tr>
                                <th>Хүснэгтийн нэр</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in errList.additionalSheet">
                                <td>{{item.sheetname}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>  
            <h3 class="uk-modal-title" ng-if="errList.prefilter.length>0" >Зөрүүтэй баганы хүснэгт</h3>
            <div class="uk-overflow-container">
	            <div class="uk-grid" id="acc" ng-if="errList.prefilter.length>0">
	                <div class="uk-width-1-1">                	
                        <table class="uk-table uk-table-condensed">
                            <thead>
                            <tr>
                                <th>Хүснэгтийн нэр</th>
                                <th>Загварын багана</th>
                                <th>Зөрүүтэй багана</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in errList.prefilter">
                                <td>{{item.sheetname}}</td>
                                <td>{{item.bagana2}}</td>
                                <td>{{item.bagana}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="uk-grid" id="acc" ng-if="ars.length>0">
                <div class="uk-width-1-1">
                	<div class="uk-overflow-container">
                        <table class="uk-table uk-table-condensed">
                            <thead>
                            <tr>
                                <th>Хүснэгтийн нэр</th>
                                <th>Дансны код (1)</th>
                                <th>Дансны код (2)</th>
                                <th>Зөрүү</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in ars">
                                <td>{{item.sheet}}</td>
                                <td>{{item.code1}}</td>
                                <td>{{item.code2}}</td>
                                <td>{{item.dif}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>  
            <hr>
            <div class="uk-modal-footer uk-text-right">
           		<button ng-click="submit()" type="submit" ng-show="sendBtn" class="md-btn  md-btn-wave-light">Илгээх</button> 
                <button type="button" class="md-btn md-btn-primary md-btn-wave-light uk-modal-close">Хаах</button>
            </div>
            </form>
        </div>
    </div> 
                       
	<footer id="footer">
	    <span style="display:block;  text-align:right;">&copy; 2016-2017 <a href="www.staus.mn">Tyder LLC</a>, All rights reserved.</span>
	</footer>
	
	<style>
		.k-grid-content table tbody{
			cursor: pointer;
		}
	</style>
	